.prompt {
    margin: 1rem 0 1rem 0;
}

.add {
    cursor: pointer;
    text-decoration: underline;
    color: cornflowerblue;
}

code {
    background-color: gold;
    padding: 0.5rem;
    line-height: 1.5rem;
}

#description,
#mystyles {
    width: 80%;
    padding: 5px;
}

#composer {
    margin-bottom: 100px;
}
